* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 100%;
}
body {
    background-color: rgb(41, 41, 41);
    
}

.title__text {
    font-size: 200%;
    text-align: center;
    text-overflow: hidden;
    color: white;
}

.title__item {
    width: 345px;
    margin: 0;
}
::-webkit-scrollbar{
    width: 15px;
    }
    
    ::-webkit-scrollbar-track{
    background: rgb(41, 41, 41);
    }
    ::-webkit-scrollbar-thumb{
    background: #37B34A;
    border-radius: 8px;
    border: 3px solid rgb(41, 41, 41);
    
    }
    
    ::-webkit-scrollbar-thumb:hover{
    background: #298537;
    }
p {
    margin: 10px 0px 10px;
}
.main_menu {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main_menu__button {
    flex-shrink: 0;
    color: #ffffff;
    background-color: #37B34A;
    border-radius: 3px;
    border: none;
    padding: 18px;
    margin: 10px;
    width: 300px;
    text-align: center;
    transition: 0.4s;
    margin-left: auto;
    margin-right: auto;
}
.main_menu__button:hover {
    background-color: #60c970;
}
.main_menu__panel {
    flex-shrink: 0;
    max-height: 0;
    width: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    color: black;
    text-align: center;
    overflow: hidden;
    transition: 0.2s ease-out;
}

.panel_button {
    background-color: #37B34A;
    border: none;
    border-radius: 3px;
    margin: 10px 5px 10px 5px;
    padding: 5px;
    transition: 0.4s;
    color: white;
}
.btn:hover {
    background-color: #60c970;
}
.panel_seed{
    font-style: italic;
    font-size: 200%;
    color: #37B34A;
}
.panel_input {
    height: 30px;
    width: 85%;
    border: 2px solid #37B34A;
    border-radius: 3px;
    text-align: center;
    font-size: larger;
}