/* Global settings */

* {
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 100%;
}

body {    
    margin: 0;
    padding: 0;
    background-color: rgb(41, 41, 41);
}

/* Scroll bar settings */

::-webkit-scrollbar{
    width: 15px;
}
    
::-webkit-scrollbar-track{
    background: rgb(41, 41, 41);
}

::-webkit-scrollbar-thumb{
    background: #37B34A;
    border-radius: 8px;
    border: 3px solid rgb(41, 41, 41);
}

::-webkit-scrollbar-thumb:hover{
    background: #298537;
}

/* Main menu settings */

.main_menu {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title__img {
    width: 345px;
    margin: 0;
}

.title__text {
    font-size: 200%;
    text-align: center;
    text-overflow: hidden;
    color: aliceblue;
}

.main_menu__button {
    flex-shrink: 0;
    color: aliceblue;
    background-color: #37B34A;
    border-radius: 3px;
    border: none;
    padding: 18px;
    margin: 10px;
    width: 300px;
    text-align: center;
    transition: 0.4s;
    margin-left: auto;
    margin-right: auto;
}

.main_menu__button:hover {
    background-color: #60c970;
}

.main_menu__panel {
    flex-shrink: 0;
    max-height: 0;
    width: 300px;
    background-color: aliceblue;
    border-radius: 3px;
    color: black;
    text-align: center;
    overflow: hidden;
    transition: 0.2s ease-out;
}

.panel_text {
    margin: 10px 0px 10px;
}

.panel_button {
    background-color: #37B34A;
    border: none;
    border-radius: 3px;
    margin: 10px 5px 10px 5px;
    padding: 10px 15px;
    transition: 0.4s;
    color: aliceblue;
    text-transform: uppercase;
    font-size: smaller;
}

.panel_button:hover {
    background-color: #60c970;
}

.panel_seed{
    font-style: italic;
    font-size: 200%;
    letter-spacing: -3px;
    color: #37B34A;
}

.panel_input {
    height: 30px;
    width: 85%;
    border: 2px solid #37B34A;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    font-size: larger;
}

.hide_animation {
    animation: hide 0.2s linear;
    animation-fill-mode: forwards;
}

.appear_animation {
    animation: appear 0.2s linear;
    animation-fill-mode: forwards;
}

/* GAME_SCREEN settings */

.game_screen {
    display: block;
}

.card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.card {
    flex-basis: calc(33.33% - 10px);
    flex-shrink: 0;
    min-width: 300px;
    min-height: 200px;
    background-color: aliceblue;
    color: black;
    border-radius: 4px;
    margin: 10px;
    padding: 20px;
}

.card_menu {
    flex-basis: calc(33.33% - 10px);
    flex-shrink: 0;
    min-width: 300px;
    max-height: 20px;
    background-color: aliceblue;
    color:black;
    border-radius: 4px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    transition-duration: 0.2s;
}

.card_menu:hover {
    background-color: rgb(204, 211, 216);
}

/* ANIMATION */

@keyframes hide {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}

@keyframes appear {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

/* Other settings */

.hidden {
    display: none;
}