/* Global settings */

:root {
    --title_color: black;
    --color: black;
    --color_inv: aliceblue;
    --background-color: aliceblue;
    --panel_color: rgb(230, 230, 250);
    --main_button_color: #37B34A;
    --main_hover: #59cc6a;
    --game_button_hover: #b9b9ff;
    --theme_button_color: #848482;
    --theme_text_color: aliceblue;
}

[theme='dark'] {
    --title_color: aliceblue;
    --color: aliceblue;
    --color_inv: aliceblue;
    --background-color: rgb(41, 41, 41);
    --panel_color: #333333;
    --main_button_color: #2e8b57;
    --main_hover: #297349;
    --game_button_hover: #505050;
    --theme_button_color: antiquewhite;
    --theme_text_color: black;
}

* {
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 100%;
}

body {    
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    transition: background-color 0.5s;
}

/* Scroll bar settings */

::-webkit-scrollbar{
    width: 10px;
}
    
::-webkit-scrollbar-track{
    background: rgba(41, 41, 41, 0);
}

::-webkit-scrollbar-thumb{
    background: var(--game_button_hover);
    border-radius: 4px;
}

/* Main menu settings */

.main_menu {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title__img {
    width: 345px;
    margin: 0;
}

.title__text {
    font-size: 200%;
    text-align: center;
    color: var(--title_color);
    transition: color 0.2s;
}

.main_menu__button {
    flex-shrink: 0;
    border-radius: 3px;
    border: none;
    padding: 18px;
    margin: 10px;
    width: 300px;
    text-align: center;
    transition: 0.4s;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--main_button_color);
    color: var(--color_inv);
}

.main_menu__button:hover {
    background-color: var(--main_hover);
}

.main_menu__panel {
    flex-shrink: 0;
    max-height: 0;
    width: 300px;
    border-radius: 3px;
    text-align: center;
    overflow: hidden;
    transition: 0.2s ease-out;
    background-color: var(--panel_color);
}

.panel_text {
    margin: 10px 0px 10px;
    color: var(--color);
}

.panel_button {
    width: 130px;
    border: none;
    border-radius: 3px;
    margin: 10px 0px;
    padding: 10px 15px;
    transition: 0.4s;
    text-transform: uppercase;
    font-size: smaller;
    background-color: var(--main_button_color);
    color: var(--color_inv);
}

.panel_button:hover {
    background-color: var(--main_hover);
}

.panel_seed{
    font-style: italic;
    font-size: 200%;
    letter-spacing: -1px;
    color: var(--color);
}

.panel_input {
    height: 30px;
    width: 85%;
    border: 2px solid aliceblue;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    font-size: larger;
}

.hide_animation {
    animation: hide 0.2s linear;
    animation-fill-mode: forwards;
}

.appear_animation {
    animation: appear 0.2s linear;
    animation-fill-mode: forwards;
}

/* GAME_SCREEN settings */

.game_screen {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--color);
}

.card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 1500px;
}

.card_inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.card {
    flex-basis: calc(50% - 60px);
    flex-shrink: 0;
    min-width: 300px;
    max-width: 450px;
    height: 230px;
    border-radius: 4px;
    margin: 10px;
    padding: 20px;
    background-color: var(--panel_color);
    
}

.card_menu {
    flex-basis: calc(50% - 60px);
    flex-shrink: 0;
    min-width: 300px;
    max-width: 450px;
    height: 20px;
    border-radius: 4px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    transition-duration: 0.2s;
    background-color: var(--panel_color);
}

.card_menu:hover {
    background-color: var(--game_button_hover);
}

.card_big {
    flex-basis: calc(100% - 60px);
    flex-shrink: 0;
    min-width: 300px;
    max-width: 960px;
    height: 230px;
    border-radius: 4px;
    margin: 10px;
    padding: 20px;
    background-color: var(--panel_color);
}

.splitter {
    display: flex;
    justify-content: space-between;
    flex-basis: calc(100% - 60px);
    flex-shrink: 0;
    min-width: 300px;
    max-width: 960px;
    height: 20px;
    border-radius: 4px;
    margin: 10px;
    padding: 20px;
    background-color: var(--game_button_hover);
}

@media (max-width: 719px) {
    .card_big {
        max-width: 300px;
    }
    .splitter {
        max-width: 300px;
    }
}

.card_header {
    flex-shrink: 0;
    font-size: larger;
    overflow: hidden;
}

.card_text {
    position: relative;
    word-wrap: break-word;
    white-space: pre-line;
    width: 100%;
    height: 82%;
    overflow: auto;
}

/* ANIMATION */

@keyframes hide {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}

@keyframes appear {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

/* Other settings */

.hidden {
    display: none;
}

.no_select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.popup {
    position: fixed;
    top: -72px;
    padding: 10px;
    opacity: 70%;
    border-radius: 0px 0px 4px 4px;
    font-size: smaller;
    color: #555553;
    background-color: #848482;
}

.slide_animation {
    animation: slide 0.4s ease-out forwards;
}

.enter_animation {
    animation: enter 0.4s ease-out forwards;
}

@keyframes slide {
    from {
        top:-72px;
    }
    to {
        top: 0px;
    }
}

@keyframes enter {
    from {
        top: 0px;
    }
    to {
        top: -72px;
    }
}

.theme_button {
    position: fixed;
    top: 10%;
    left: -30px;
    width: 50px;
    height: 50px;
    background-color: var(--theme_button_color);
    transition: left 0.2s, background-color 0.2s;
}

.theme_button:hover {
    left: 0;
}

.messages_cookies {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: white;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	z-index: 1000;
	color: #666;
	padding: 15px 0;
	font-size: 12px;
}
.messages_cookies-wrp {
	position: relative;
	width: 80%;
	margin: 0 auto;
}
.messages_cookies-close {
	position: absolute;
	top: 0;
	bottom: 0;
	right: -20px;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: auto 0;
	background: url(https://snipp.ru/img/сlose.png) 0 0 no-repeat;
}

/*Input for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}